<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zmq.shopmall">

    <!--相机权限-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!--读写权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--联网权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.SET_DEBUG_APP"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.AppTheme">
        <!--首页-->
        <activity
            android:name=".activity.HomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/NOTranslucent.AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--登录界面-->
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <!--商品详情-->
        <activity
            android:name=".activity.GoodsDetailsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>
        <!--设置-->
        <activity
            android:name=".activity.SetActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>
        <!--搜索-->
        <activity
            android:name=".activity.SearchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.SearchDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <!--消息-->
        <activity
            android:name=".activity.NewsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>
        <!--我的日历-->
        <activity
            android:name=".activity.MyCalendarActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>
        <!--定位城市-->
        <activity
            android:name="com.zaaach.citypicker.CityPickerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/CityPicker.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <!--设置高德地图定位key-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="c60065b6d3e52b3d91adbb620e129104"/>
    </application>
</manifest>